---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="select">
  <select class="blabla">
    <option value=”Киев”>Киев</option>
    <option value=”Львов”>Львов</option>
    <option value=”Днепропетровск”>Днепропетровск</option>
    <option value=”Черкассы”>Черкассы</option>
    <option value=”Бровары”>Бровары</option>
    <option value=”Винница”>Винница</option>
    <option value=”Винница”>Винница</option>
  </select>
  <ul class="options">

  </ul>
</div>


{% endblock %}
